vlans {
  VNI_100 {
    vlan-id 50;
    l3-interface irb.50;
    vxlan vni 1000;
  }
  VNI_2000 {
    vlan-id 60;
    l3-interface irb.60;
    vxlan vni 2000;
  }
}
interfaces {
  irb {
    unit 50 {
      virtual-gateway-accept-data;
      proxy-macip-advertisement;
      family inet {
        address 192.168.50.1/24{
          virtual-gateway-address 192.168.50.254;
        }
      }
    }
    unit 60 {
      virtual-gateway-accept-data;
      proxy-macip-advertisement;
      family inet {
        address 192.168.60.1/24{
          virtual-gateway-address 192.168.60.254;
        }
      }
    }
  }
}
