protocols {
  bgp {
    group EVPN-OVERLAY {
      family evpn {
        signaling;
      }
    }
  }
  evpn {
    encapsulation-type vxlan;
    switch-options {
      route-distinguisher {{ loopback_ip }}:100;
      vrf-target export-target;
      vrf-target import-target;
    }
  }
}
vlans {
  VLAN150 {
    vlan-id 150;
    l3-interface irb.150;
  }
  VLAN250 {
    vlan-id 250;
    l3-interface irb.250;
  }
}
interfaces {
  irb {
    unit 150 {
      family inet {
        address 192.168.150.1/24;
      }
    }
    unit 250 {
      family inet {
        address 192.168.250.1/24;
      }
    }
  }
  ae1 {
    description "VXLAN Tunnel Interface";
    unit 0 {
      family vxlan {
        tunnel {
          source-address {{ loopback_ip }};
        }
      }
    }
  }
}
